{% extends 'base.html' %}

{% block body %}
  <div class="jumbotron" style="padding: 40px 20px">
    <h2>About Us<h2>
    <div>
      <p style="font-size: 18px; line-height: 30px;">College Index is an locally-hosted Flask web-app designed for easy access to other students' opinions and reviews of various universities. While it is meant for use by Kehillah students only, it is capable of hosting other users as well, with a verification system to eliminate spamming and trolling. If you would like to help develop this site, the source code is available on <a target="_blank" href="https://github.com/Ben1152000/CollegeIndex">github</a>.</p>
      <p style="font-size: 18px; line-height: 30px">If you have questions or concerns, please contact me at: <a href="mailto:kjhscollegeindex@gmail.com">kjhscollegeindex@gmail.com</a></p>
      <p style="font-size: 18px; line-height: 30px"><i>This project is currently understaffed (it's just me </i>🙁<i>), so if you are interested in helping develop this site or contributing in any way, please contact me with the above address. All developers will be credited for their work.</i></a></p>
    </div>
  </div>
{% endblock %}