{% extends 'base.html' %}

{% block body %}
  <div class="jumbotron" style="padding: 40px 20px">
    <h2>About Us<h2><br>
    <div>
      <p style="font-size: 18px">This is a site that does... blah blah blah.</p>
      <br>
      <p style="font-size: 18px">If you would like to develop this site, the source code is available on <a target="_blank" href="https://github.com/Ben1152000/CollegeIndex">github</a>.</p>
      <br>
      <p style="font-size: 18px; line-height: 25px">If you have questions or concerns, please contact me at: <a href="mailto:kjhscollegeindex@gmail.com">kjhscollegeindex@gmail.com</a></p>
    </div>
  </div>
{% endblock %}