{% extends 'base.html' %}

{% block style %}
  <style>
    #map {height: 400px; width: 100%;}
    .gsdf {
      position: absolute; top: 50%; left: 50%; height: 50%;
      transform: translate(-50%, -50%);
      display: block;
    }
  </style>
{% endblock %}

{% block body %}
  <div id="map" class="marketing"></div>
  <meta id="schools" data="{{schools}}">
  <script>
    function initMap(schools) {
      var json = (function () {
          var json = null;
          $.ajax({
              'async': false,
              'global': false,
              'url': "/static/data/schools.json",
              'dataType': "json",
              'success': function (data) {
                  json = data;
              }
          });
          return json;
      })(); 
      var center = {lat: 40.8199, lng: -96.7018};
      var map = new google.maps.Map(document.getElementById('map'), {zoom: 4, center: center, streetViewControl: false});
      var infowindow = new google.maps.InfoWindow(); /* SINGLE */
      function placeMarker( school ) {
        var latLng = new google.maps.LatLng(json[school]["Lat"], json[school]["Lon"]);
        var iconBase = 'https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png';
        var icon = {
          url: iconBase, // url
          scaledSize: new google.maps.Size(16, 30), // scaled size
          origin: new google.maps.Point(0, 0), // origin
          anchor: new google.maps.Point(8, 30) // anchor
        };
        var marker = new google.maps.Marker({
          position : latLng,
          map      : map,
          icon     : icon,
        });
        google.maps.event.addListener(marker, 'click', function(){
          infowindow.close(); // Close previously opened infowindow
          infowindow.setContent('<a class="schoolLink" style="text-align: center" id="' + school + '">' + school + '<br>' + json[school]["City"] + ', ' + json[school]["State"] + '</a>');
          infowindow.open(map, marker);
          
        });
      }
      for (var school in json) {
        placeMarker( school );
      };
    }
  </script>
  <script async defer 
    src="https://maps.googleapis.com/maps/api/js?v=3.14&key=AIzaSyB65Hg1ByHjRCA3riW0ShafytFRCSUOm6U&callback=initMap">
  </script>

  <!-- Description Divider -->
  <div id="submain" class="jumbotron" style="padding: 15px">

    <!-- Search Bar -->
    <div style="float: right; padding: 0px 15px 15px 15px !important;">
      <form class="navbar-form" role="search">
        <div class="input-group add-on">
          <input class="form-control" placeholder="Search" name="query" id="query" type="text">
          <div class="input-group-btn">
            <button id="querybutton" class="btn btn-default" type="submit" style="height: 34px; width: 34px"><span class="glyphicon glyphicon-search" style="font-size: 12pt; position: absolute; top: 50%; left: 50%; height: 50%; transform: translate(-50%, -50%);"></span></button>
          </div>
        </div>
      </form>
    </div>
    <script>
      // Search Result Page
      $(document).ready(function() {
        $("#querybutton").click(function(event) {
          event.preventDefault(event);

          // Read search query:
          var searchstring = $('#query').focus().val();
          $("#query").closest('form').find("input[type=text], textarea").val(""); // empty query
          var searchresults = '<h3 style="margin: 40px 0px 10px 0px !important;">Results for "' + searchstring + '":</h3><br>';
          
          // Read school data:
          $.getJSON( "static/data/schools.json", function( data ) {
            var results = {};
            var counter = 0;

            // Load Dictionary:
            for (var key in data) {
              if (counter == 100) {
                break;
              }
              if (data.hasOwnProperty(key)) { // this will check if key is owned by data object and not by any of it's ancestors
                if (key.toLowerCase().indexOf(searchstring.toLowerCase()) !== -1) {
                  results[key] = data[key];
                  counter++;
                }
              }
            }

            // Check Results Length (number of results):
            var numresults = 0;
            for (var result in results) {
              if (results.hasOwnProperty(result)) numresults++;
            }

            // Display Results:
            var counter = 0;
            for (var result in results) {
              if (counter > 0) {
                searchresults = searchresults + "<br>";
              }
              searchresults = searchresults + "\
                <div style='height: 100%; border-radius: 6px; padding: 20px; background-color: #dddddd'>\
                  <h3 style='text-align: left; font-size: 14pt !important; margin-top: 0px !important; cursor: pointer;'><a class='schoolLink' id=\"" + result + "\">" + result + "</a></h3>\
                  <p style='text-align: left; font-size: 12pt !important; margin-top: 10px !important; margin-bottom: 0px !important;'>Public/Private University</p>\
                  <p style='text-align: left; font-size: 12pt !important; margin-top: 10px !important; margin-bottom: 0px !important;'>" + results[result]["City"] + ", " + results[result]["State"] + "</p>\
                </div>";
              counter++;
            }
            if (numresults == 0) {
              searchresults = searchresults + "<p style='margin: 0px 0px 0px 0px !important'>No Results Found</p><p>Try broadening your search.</p>";
            } else if (numresults == 1) {
              searchresults = searchresults + "<p style='margin: 30px 0px 0px 0px !important'> One Result Found";
            } else if (numresults <= 50) {
              searchresults = searchresults + "<p style='margin: 30px 0px 0px 0px !important'>" + numresults + " Results Found";
            } else if (numresults < 100) {
              searchresults = searchresults + "<p style='margin: 30px 0px 0px 0px !important'>" + numresults + " Results Found (50 Displayed)";
            } else {
              searchresults = searchresults + "<p style='margin: 30px 0px 0px 0px !important'>&gt100 Results Found (50 Displayed)";
            }
            var $elem = $('#center');
            $elem.empty();
            $elem.append(searchresults);
          });
          $('#submain').scrollView();
          return false;
        });

        // Individual School Page
        $(document).on('click', "a.schoolLink", function(event) { 
          event.preventDefault(event); 
          var schoolname = event.target.id;
          var result = "<h3 style='margin: 40px 0px 0px 0px !important;'>" + schoolname + "</h3><br>";
          result = result + "<p style='margin: 0px 0px 0px 0px !important'>No Reviews Found</p><p><a href='/submit'>Submit a review of this school</a></p>";
          var $elem = $('#center');
          $elem.empty();
          $elem.append(result);
          $('#submain').scrollView();
          return false;
        });

        // Scroll to div:
        $.fn.scrollView = function () {
          return this.each(function () {
            $('html, body').animate({
              scrollTop: $(this).offset().top
            }, 1000);
          });
        }
      });
    </script>

    <!-- School Description -->
    <div id="center" class="jumbotron" style="padding: 20px 20px">
      <h2 style="margin: 40px 0px 0px 0px;">Welcome to College Index!<h2>
      <p style="font-size: 16pt !important; line-height: 30px; margin: 0px;">
        Thank you for using this tool for your college research. Please enter a college into the search bar or find its location on the map to see student reviews.
      </p>
    </div>

  </div>
{% endblock %}