{% extends 'base.html' %}

{% block body %}
  <div class="jumbotron">
    <h2>Submit Review</h2>
    <br>
    {% if error==1 %}
      <div class="alert alert-danger" role="alert" style="width: 50%; margin: 0 auto; padding: 5px">Dude. You can write <i>at least</i> 10 words.</div>
    {% elif error==2 %}
      <div class="alert alert-danger" role="alert" style="width: 50%; margin: 0 auto; padding: 5px">Please select a school.</div>
    {% endif %}
    <br>
    <form class="form-signin" action="{{ url_for('submit') }}" method="post">
      <div id="name" class="container" style="margin-bottom: 20px">
        <p style="line-height: 10pt">Which college did you visit? (<a href="/newschool">Not on the list?</a>)</p>
        <select type="name" name="name" class="form-control">
          <option id="Option: default" value="default" selected="true" disabled="disabled">Select a School</option>
          {% for item in data %}
          <option id="Option: {{ item }}" value="{{ item }}">{{ item }}</option>
          {% endfor %}
          <script>
            /**
            * Get the value of a querystring
            * @param  {String} field The field to get the value of
            * @param  {String} url   The URL to get the value from (optional)
            * @return {String}       The field value
            */
            var getQueryString = function ( field, url ) {
                var href = url ? url : window.location.href;
                var reg = new RegExp( '[?]' + field + '=([^#]*)', 'i' );
                var string = reg.exec(href);
                return string ? string[1] : null;
            };
            //alert("Option: " + getQueryString("school") + " Option: " + decodeURIComponent(getQueryString("school")))
            var opt = document.getElementById("Option: " + decodeURIComponent(getQueryString("school")));
            if (opt != null) {
              opt.selected = true;
            }
          </script>
        </select>
      </div>
      <div id="ratings" class="container" style="margin-bottom: 20px">
        <h3 style="margin-bottom: 20px">Ratings: (Required)</h3>
        <div class="col-sm-4">
          <p style="line-height: 10pt">Taste:</p>
          <p style="font-size: 10pt !important">(Quality of Education)</p>
          <select type="rating" name="taste" class="form-control">
            <option value="1">1</option><option value="2">2</option>
            <option value="3">3</option><option value="4">4</option>
            <option value="5">5</option><option value="6">6</option>
            <option value="7">7</option><option value="8">8</option>
            <option value="9">9</option><option value="10">10</option>
          </select>
        </div>
        <div class="col-sm-4">
          <p style="line-height: 10pt">Texture:</p>
          <p style="font-size: 10pt !important">(Quality of Life)</p>
          <select type="rating" name="texture" class="form-control">
            <option value="1">1</option><option value="2">2</option>
            <option value="3">3</option><option value="4">4</option>
            <option value="5">5</option><option value="6">6</option>
            <option value="7">7</option><option value="8">8</option>
            <option value="9">9</option><option value="10">10</option>
          </select>
        </div>
        <div class="col-sm-4">
          <p style="line-height: 10pt">Tummy Feel:</p>
          <p style="font-size: 10pt !important">(Gut feeling)</p>
          <select type="rating" name="tummy feel" class="form-control">
            <option value="1">1</option><option value="2">2</option>
            <option value="3">3</option><option value="4">4</option>
            <option value="5">5</option><option value="6">6</option>
            <option value="7">7</option><option value="8">8</option>
            <option value="9">9</option><option value="10">10</option>
          </select>
        </div>
      </div>
      <div id="responses" class="container" style="margin-bottom: 20px">
        <h3 style="margin-bottom: 20px">Review: (Required)</h3>
        <p style="text-align: left">Please provide a short summary of the college's highlights, lowlights, traits, and features. How did you feel about visiting the college? Would you recommend others visit? (150 words max.)</p>
        <textarea id="review" name="review" rows=8 class="form-control" style="width: 100%;"></textarea>
        <p style="font-size: 12pt !important; margin-top: 6px">Words used: <span id="display_count">0</span></p>
        <script> // Manage word count
          $(document).ready(function() {
            $("#review").on('keyup', function() {
              var limit = 150; var words = 0;
              if (this.value.match(/\S+/g) != null) {
                words = this.value.match(/\S+/g).length;
              }
              if (words > limit) {
                var trimmed = $(this).val().split(/\s+/, limit).join(" "); // Split the string on first 200 words and rejoin on spaces
                $(this).val(trimmed + " "); // Add a space at the end to keep new typing making new words
              }
              else {
                $('#display_count').text(words);
              }
            });
          }); 
        </script>
      </div>
      <!--
      <div id="responses" class="container" style="margin-bottom: 40px">
        <h3 style="margin-bottom: 20px">Long-form Responses:</h3>
        <p style="text-align: left">What are the main highlights of the college? (100 words max.)</p>
        <textarea name="extra1" rows=8 class="form-control" style="width: 100%; margin-bottom: 20px"></textarea>
        <p style="text-align: left">What are some negative/unsatisfactory aspects of the college? (100 words max.)</p>
        <textarea name="extra2" rows=8 class="form-control" style="width: 100%; margin-bottom: 20px"></textarea>
        <p style="text-align: left">How does the college stand out academically? (100 words max.)</p>
        <textarea name="extra3" rows=8 class="form-control" style="width: 100%; margin-bottom: 20px"></textarea>
        <p style="text-align: left">How is the school's residential/student life? (100 words max.)</p>
        <textarea name="extra4" rows=8 class="form-control" style="width: 100%; margin-bottom: 20px"></textarea>
        <p style="text-align: left">Describe the stereotypical student. Do they like sports, math, etc.? (50 words max.)</p>
        <textarea name="extra5" rows=4 class="form-control" style="width: 100%; margin-bottom: 20px"></textarea>
        <p style="text-align: left">After visiting, do you want to apply? If so, why? (50 words max.)</p>
        <textarea name="extra6" rows=4 class="form-control" style="width: 100%; margin-bottom: 20px"></textarea>
        <p style="text-align: left">Is there anything else you feel others should know about this school? (50 words max.)</p>
        <textarea name="extra7" rows=4 class="form-control" style="width: 100%; margin-bottom: 20px"></textarea>
        <p style="text-align: left">Please post any links relating to statistics or other reviews for this college. (E.G., <a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank">Wikipedia</a>, <a href="https://bigfuture.collegeboard.org/college-search" target="_blank">BigFuture</a>)</p>
        <textarea name="extra8" rows=4 class="form-control" style="width: 100%; margin-bottom: 20px"></textarea>
      </div>
      --><br>
      <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
{% endblock %}